$bcolor:rgb(224, 220, 220);



.course-container{
    width:410px;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:100px;
    padding:15px;
    border:2px solid rgb(109, 109, 109);
    border-radius:10px;

    input,textarea,select{
        margin:auto;
        height: auto;
        width: 95%;
        margin-bottom:10px;
        margin-top:10px;
        padding:5px;
        border-radius: 5px;
        border:none;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.651);
        outline:none;
    }
    textarea{
        resize: none;
        height:100px;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

#addcourseid{
    background-color:rgb(75, 75, 241);
    border-radius: 10px 5px 10px 5px;
    color:white;
}


}

.nb{
    width: auto;
    height: auto;
    text-align: center;
    margin-top:20px;

#nextpage{
    font-size:20px;
    padding:8px;
    width: auto;
    height: auto;
    border-radius: 3px;
    background-color:$bcolor;
    color:black;
    border:none;
    box-shadow: 2px 2px 5px black;
    outline:none;
    
    &:hover{
        background-color:complement(white);
    }

}
}